<body>
  <div class="title">
    <h1>Penticton and Okanagan</h1>
    <h2>
      It's never been easier. Or more cost-effective, free up more of your time
    </h2>
  </div>

  <p>
    At Ruyi, we provide accounting and bookkeeping services you need to keep your business healthy and growing.
  </p>

  <div class="container">
    <div class="image">
      <img src="https://raw.githubusercontent.com/TianyiZhang2/Ruyi-Website/master/src/assets/desk0.jpg" alt="Desk0">
    </div>

    <div class="infobox">
      <h2>Bookkeeping and Accounting Services</h2>
      <p>
        You focus on running and growing your business. We’ll handle the books. Payroll. Sales taxes. Reconcilations. Government remittances. Invoicing. All handled reliably, accurately, and timely. As well as cash flow reports. Balance sheets. P&L. Customized reports. Quarterly and year-end data prep. And all your questions answered, on your timetable.
      </p>
      <p>
        fewer errors and greater efficiency. ready to assist you at any time.
      </p>
    </div>
  </div>

  <div class="services" style="clear: left">
    <h2>Bookkeeping and accounting services we provide:</h2>
    <ol>
      <li>
        Financial reconciliations. Every month, as well as year-end. On every account. All prepared with absolute accuracy.
      </li>
      <li>
        Accounts receivable and Accounts payable. We handle your invoicing, follow up on past-due invoices, help with collections to improve cash flow.
      </li>
      <li>
        Accounts payable. All the paperwork involved with paying your bills, monitoring accounts payable to ensure vendors are paid on time.
      </li>
      <li>
        Data entry.  Maintain the general ledger,  keep track of all accounts activity.
      </li>
      <li>
        Government remittances.
      </li>
      <li>
        Keep your whole team paid (and happy). We can deliver full payroll services.
      </li>
      <li>
        Full-service accounting. We provide all the other enterprise accounting services your unique business needs.
      </li>
    </ol>
  </div>
</body>
