/* Logo */
img {
  margin: 16px;
  width: 100%;
  max-width: 200px;
}

.logo:hover {
  opacity: 100%;
}

/* Menu */
.links {
  margin-right: 16px;
  background-color: rgb(91, 158, 247);
  margin-bottom: -200px;
}

.links a {
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 12px 18px;
  font-size: 32px;
}

/* Responsive menu for phones */
@media screen and (max-width: 720px) {
  img {
    margin: auto;
    margin-bottom: 16px;
  }

  .links {
    margin-bottom: auto;
  }

  .links a {
    float: none;
    display: block;
    text-align: left;
    font-size: 24px;
  }
}
